#calculator{
    border:1px solid rgb(129, 123, 123);
    border-radius: 5px;
    width:200px;
}

#input{
    margin:10px;
    width:85%;
    font-size:25px;
}

#button_container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.button{
    height:45px;
    width:45px;
    margin:3px;
    border-radius: 5px;
    background-color: rgb(66, 193, 215);
}

.button:hover{
    background-color: rgb(68, 211, 236);
}
